* {
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-weight: 700;
}

.product-name {
    letter-spacing: -1px;
}

.product-description {
    letter-spacing: -0.5px;
}

.product-image {
    border-radius: 5%;
}

.product-like {
    position: absolute;
    cursor: pointer;
    left: 80%;
    top: 2%;
    height: 100%; width: 100%;
    font-size: 1.3rem;
    color: black;
}

.product-container {
    position: relative;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: .3s ease;
    background-color: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.product-like-container {
    position: absolute;
    cursor: pointer;
    left: 85%;
    top: 2%;
    font-size: 1.3rem;
    color: black;
}

.product-like-container-active {
    position: absolute;
    cursor: pointer;
    left: 85%;
    top: 0%;
    font-size: 1.3rem;
    color: red;
}

.product-like-active {
    position: absolute;
    cursor: pointer;
    left: 80%;
    top: 2%;
    height: 100%; width: 100%;
    font-size: 1.3rem;
    color: black;
}

.product-like a {
    color: black;
}

.product-property {
    overflow: hidden;
}

.product-property:after {
    content:'........................................................';
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

.stars {
    font-size: 0.7rem;
}

.product-stars {
    font-size: 1.0rem;
}

.bottom-icons {
    font-size: 1.0rem;
}

.search-line-icon {
    font-size: 0.8rem;
}

.has-search .form-control {
    padding-left: 2.375rem;
    border: none;
    background-color: #F5F5F5;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.header-big {
    height: 300px !important;
    width: 100%;
    background-color: blueviolet;
}

.header-small {
    background-color: blue;
}

.carousel-image-mobile {
    height: 100px;
}

.carousel-desktop {
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
}

.carousel-image-desktop {
    height: 200px;
}

.menu1 {
    color: white;
}

.menu1 a:link {
    color: white;
    text-decoration: none;
}

.menu1 a:visited {
    color: white;
    text-decoration: none;
}

.menu1 a:hover {
    color: white;
    text-decoration: underline;
}

.card-content {
    border-radius: 15px;
}

.card:hover {
    /*border: 2px solid black;*/
    /*border-radius: 10px;*/
    box-shadow: 0px 0px 30px 0px rgba(34, 60, 80, 0.2);
    z-index: 100;
}


.breadcrumb a {
    text-decoration: none;
    color: gray;
}

.breadcrumb-icon {
    font-size: 21px;
}

.widget-area {
    background-color: white;
}

.widget {
    border-radius: 10px;
    box-shadow: 0 2px 16px 5px rgba(0, 0, 0, 0.08);
}

.circle {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 5px solid;
    color: #fdeef9;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}